* {
    color: #fff;
    margin: 0px;
    font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body, html {
    height: 100%;
}
body {
    overflow: hidden;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #181C25;
}
header {
    top: 10px;
    left: 10px;
    gap: 10px;
    display: flex;
    width: calc(100% - 20px);
    position: absolute;
}
header > a, header > span {
    font-family: monospace;
    text-decoration: none;
	cursor: pointer;
}
header > a:hover, header > span:hover {
    text-decoration: underline dotted;
	user-select: none;
}

h2 {
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main {
    width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #13171f;
    padding: 15px;
    box-shadow: rgba(144, 158, 190, 0.25) 0px 0px 0px 1.25px, rgba(82, 95, 122, 0.15) 0px 0px 120px 0px, rgba(7, 9, 12, 0.017) 0.29px 0.58px 3.48px 0px, rgba(7, 9, 12, 0.024) 0.67px 1.34px 8.04px 0px, rgba(7, 9, 12, 0.03) 1.25px 2.5px 15px 0px, rgba(7, 9, 12, 0.036) 2.25px 4.5px 27px 0px, rgba(7, 9, 12, 0.043) 4.17px 8.34px 50.04px 0px, rgba(7, 9, 12, 0.06) 10px 20px 120px 0px, rgba(7, 9, 12, 0.015) 0px 0px 0px 1.25px
}

progress {
    display: inline-block;
    appearance: none;
    width: 100%;
    height: .5rem;
    margin: calc(.5rem + 5px) 0px .5rem 0px;
    overflow: hidden;
    border: none;
    border-radius: .25rem;
    background-color: #fff;
}
progress::-moz-progress-bar { background: rgb(1, 114, 173); }
progress::-webkit-progress-bar { background-color: #fff; }
progress::-webkit-progress-value { background: rgb(1, 114, 173); }

#radio:hover #controller {
	opacity: 1;
	transition-delay: 0s;
}

main > div {
	display: flex;
	gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
main > div span {
	font-family: monospace;
}
#progress {
	flex: 1;
}

#controller {
	display: flex;
	gap: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	align-items: center;
	opacity: 0;
	transition: opacity .3s ease;
	transition-delay: .3s;
}
#controller a, #controller span {
	font-family: monospace;
	text-decoration: none;
}
#download:hover, #mute:hover, #voteskip:hover {
	cursor: pointer;
	text-decoration: underline dotted;
	user-select: none;
}
#volume {
	width: 45px;
}
input[type = "range"] {
    background: #fff;
    height: 8px;
    border-radius: 10px;
    -webkit-appearance: none;
	width: 100px;
	margin-left: auto;
}
input[type = "range"]::-webkit-slider-thumb,
input[type = "range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgb(1, 127, 192);
    cursor: pointer;
}

#lag {
    cursor: pointer;
}
#click-warning {
    margin-left: auto;
}
#visualizer {
    opacity: 0.2;
    height: 200px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}
.red { color: rgb(255, 66, 66); }
